<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm Kiếm Cửa Hàng</title>
    <link rel="stylesheet" href="/resources/css/aboutStore.css">
</head>
<body>

<header>
    <a href="/" class="logo" >
        <img src="/resources/logo/z5183538530354_f739e2fd01cb8c6a551e37fd2981b4f9.png" width="200" height="50" alt="Glowing">
    </a>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Bộ Sưu Tập</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Offer</a></li>
            <li><a href="#">Về Chúng Tôi</a></li>
        </ul>
    </nav>

</header>
<main>
    <section class="store-locator">
        <h1>Tìm Kiếm Cửa Hàng</h1>
        <div id="map"></div>
        <div class="store-list">
            <div class="store-item">
                <h2>Cầu Giấy 134</h2>
                <p>Mở cửa: 12:00</p>
            </div>
            <div class="store-item">
                <h2>Adidas Store Hanoi, Floor 2</h2>
                <p>54 Liễu Giai</p>
                <p>Mở cửa: 12:00</p>
            </div>
            <div class="store-item">
                <h2>Adidas Store Hanoi, Vincom Liễu Giai Mall</h2>
                <p>29 Liễu Giai ST</p>
                <p>Mở cửa: 13:30</p>
            </div>
            <div class="store-item">
                <h2>Adidas Store Hà Nội, Lotte Ho Tây</h2>
                <p>P2-25 Lạc Long Quân</p>
                <p>Mở cửa: 12:00</p>
            </div>
            <div class="store-item">
                <h2>Adidas Store Hà Nội, Vincom Starcity</h2>
                <p>110 Trần Duy Hưng</p>
                <p>Mở cửa: 13:30</p>
            </div>
            <div class="store-item">
                <h2>Adidas Store Hà Nội, Big C</h2>
                <p>222 Trần Duy Hưng</p>
                <p>Mở cửa: 22:00</p>
            </div>
            <div class="store-item">
                <h2>Adidas Originals Store Hà Nội, Vincom Royal City</h2>
                <p>72A Nguyễn Trãi</p>
                <p>Mở cửa: 22:00</p>
            </div>
        </div>
    </section>
</main>
<footer >
    <p class="newsletter-text" style="margin-top: 50px;">
        Xin chân thành cảm ơn quý khách đã luôn đồng hành cùng Marosa`s Qynh - Chúc quý khách shopping vui vẻ
    </p>
    <p class="copyright" style="margin: 50px 0 0 10px;">
        &copy; 2024 code with love by QuynhAinXynh - AnhNguyen - Vantu
    </p>


    <a href="#" class="logo">
        <img src="/resources/logo/z5183538530354_f739e2fd01cb8c6a551e37fd2981b4f9.png" width="200" height="50" loading="lazy" alt="Glowing">
    </a>


</footer>
</body>
</html>
