<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/resources/css/adminlogin.css">
<body>
    <div class="a">
        <form th:action="@{/admincheck}" method="post" >
        <h1>Admin</h1>
        <div class="ab">
            <input name="username" type="text" placeholder="Username" id="tk" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="ab">
            <input name="password" type="password" placeholder="Password" id="mk"  required>
            <i class='bx bxs-lock-alt' ></i>
        </div>
        <div class="abc">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forgot a password?</a>
        </div>
        <button type="submit" class="a4">Login</button>
        </form>
        <a th:href="@{/signupadmin}">thêm mới tài khoản Admin</a>
    </div>
    <script src="/resources/js/admlogin.js"></script>
</body>
</html>